.container a{
    text-decoration: none;
    color: black;
}

.container a:hover{
    text-decoration: underline;
}

.container{
    display: flex;
    justify-content: flex-end;
    margin: 15px 20px 0px 0px;
    align-items:  center;
}

.container div{
    margin: 5px;
}

.container .opa{
    opacity: .55;
    cursor: pointer;
}

.opa:hover{
    opacity: .85;
}

.opa img{
    width: 25px;
    height: 25px;
}

.btn-sup{
    border: 1px solid #687bd2;
    border-radius: 4px;
    padding: 5px;
    background-color: #4285f4;
}

.container .btn-sup:hover{
    text-decoration: none;
    color: #4285f4;
    background-color: #fff;

}

.container .btn-sup{
    color: #fff;
}

.google-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: space-between;
}

body, td, a, p{
    font-family: Arial, sans-serif;
}

/* small font set to 13px */
.sf{
    font-size: 13px;
}

#logo{
    padding: 103px 0px 20px 0px;
    height: 92px;
}

.input-search{
    margin-top: 8px;
}

#voice{
    position: relative;
    top: 7px;
    right: 50px;
    
}

#voice img{
    width: 25px;
    height: 25px;
}

input[type=search]{
    width: 482px;
    height: 44px;
    border-radius: 40px;
    background: #fff;
    background-color: #fff;
    box-shadow: 0 1px 6px rgba(32,33,36,.28);
    border-color: rgba(223,225,229,0);
    background-image: url('../images/search.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding-left: 40px;
    background-size: 20px;
    padding-right: 50px;
}

input[type=search]:focus{
    outline: none;
}

.btn-sub{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;;
}

.input-submit{
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: Arial, sans-serif;
    font-size: 14px;
    margin: 11px 5px;
    padding: 0px 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
}

.input-submit:hover{
    border: 1px solid #dadce0;
    box-shadow: 0px 1px 1px rgba(0,0,0,.1);
    border-radius: 4px;
}


#lng a{
    padding: 0px 3px;
    color: #1a0dab;
    text-decoration: none;
}

#lng a:hover{
    text-decoration: underline;
}

footer{
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: #f2f2f2;
    line-height: 40px;
    
}

.country{
    border-top: 1px solid #dadce0;
    border-bottom: 1px solid #dadce0;
}

.ftft{
    color: rgba(0,0,0,.54);
    font-size: 15px;
    padding-left: 30px; 
}

.abt{
    margin-left: 8px;
}

footer a{
    color: rgba(0,0,0,.54);
    font-size: 14px;
    margin-left: 22px;
    text-decoration: none;
}

footer a:hover{
    text-decoration: underline;
}

.stt{
    float: right;
    padding-right: 30px;
}

/* RESPONSIVE DESGIN*/
@media only screen and (max-width: 630px){

    input[type=search]{
        width: 400px;
        height: 38px;
        background-position: 10px 7px;
    }

    #logo{
        height: 60px;
        padding-top: 70px;
    }

    .google-container{
        margin-bottom: 100px;
    }

    footer a{
        font-size: 10px;
        margin-left: 10px;
    }

    .ftft{
        font-size: 11px;
        padding-left: 18px;
    }

    .stt{
        padding-right: 10px;
    }
}

@media only screen and (max-width: 460px){
    #logo{
        height: 55px;
        padding-top: 50px;
    }

    input[type=search]{
        width: 300px;
        height: 32px;
        background-position: 10px 5px;
        margin-left: 27px;
    }
}

@media only screen and (max-width: 405px){
    .container a{
        font-size: 11px;
    }

    .opa img{
        width: 20px;
        height: 20px;
    }

    #logo{
        height: 40px;
        padding-top: 40px;
    }

    .input-submit{
        height: 30px;
        font-size: 11px;
    }

    .sf{
        font-size: 11px;
    }

    .stt{
        float: left;
        padding-right: 30px;
        margin-left: 10px;
    }
}

@media only screen and (max-width: 356px){
    input[type=search]{
        width: 250px;
        height: 30px;
        background-position: 10px 5px;
        margin-left: 27px;
    }
}
@media only screen and (max-width: 306px){
    input[type=search]{
        width: 180px;
        height: 30px;
        background-position: 10px 4px;
        margin-left: 37px;
    }
}

@media only screen and (max-width: 240px){

    #voice{
        position:absolute;
        top:157px;
        right: 29px;
    }

    .btn-sub{
        display: inline;
        text-align: center;
        float: left;
    }
}